  <%- include('./header.ejs'); %>

  <link rel="stylesheet" href="./public/css/login.css">
</head>
<body>
  
  <div class="d-flex flex-column align-items-center">

    <span class="title">Accedi</span>

  </div>

  <%- include('./footer.ejs'); %>